@{
    ViewData["Title"] = "Kek Manager API";
}

<div class="row">
    <div class="col-md-12">
        <h2>Welcome to Kek Manager API</h2>
        <ul>
            <li>Stay tuned for swagger documentation</li>
        </ul>
    </div>
</div>
